.app {
  flex: 1;
  background-color: #ffffff;
  overflow: auto;
}

.descBox {
  padding: 36rpx;
  background-color: #ffb006;
}

.moduleTitle {
  font-size: 36rpx;
  color: #ffffff;
}

.desc {
  font-size: 24rpx;
  color: #ffffff;
}
