.view {
  background-color: #04152C;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: env(safe-area-inset-top, 0);
}

.headerBox {
  width: 500rpx;
  height: 100rpx;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.backBox {
  position: absolute;
  bottom: 0;
  left: 16rpx;
  width: 48rpx;
  height: 100rpx;
  justify-content: center;
  align-items: center;
}

.backImg {
  height: 40rpx;
  width: 40rpx;
  cursor: 'pointer';
}

.title {
  font-size: 34rpx;
  color: #ffffff;
}
